<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather home</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <% if (locals.cityResults && locals.cityResults.length > 0) { %>
    <form action="/weather" method="POST" class="form">
      <label for="city" class="label">Please select which city you want:</label>
      <select id="chosenCity" name="chosenCity" class="select">
        <% locals.cityResults.forEach(data => { %>
        <option value="<%= data.lat %>, <%= data.lon %>">
          <%= data.name %>, <%= data.country %>, <%= data.state %>
        </option>
        <% }) %>
      </select>
      <br /><br />
      <input type="submit" value="Get Weather" class="submit-button" />
    </form>

    <% } else { %>
    <h1 class="header">Get your weather forecast</h1>
    <form action="/" method="POST" class="form">
      <label for="city" class="label">Your city name:</label>
      <input type="text" id="city" name="city" required class="input-text" />
      <br /><br />
      <input type="submit" value="Search my city" class="submit-button" />
    </form>
    <% } %>
  </body>
</html>
